.body{
    font-family: 'Cabin', sans-serif;
}

.h1{ 
    text-align: center;
    margin:2vw 0vw 2vw;
    font-size: 4vw;
}

.p{

}

.img{

}

.headerbox{ 
    width: 100%;
    height:73px;   
    background: #DDD5C7;
}

.logo{
    width: 237px;
    height: 329px;
}
