.topnav {
  background-color: #DDD5C7;
  overflow: hidden;
}

.topnav a {
  float: left;
  color:#003262;
  text-align: justify;
  padding: 18px 20px;
  padding-right: 100px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.topnav a.active {
  background-color:#003262;
  color: white;
}

.topnav a:hover {
  background-color:#3B7EA1;
  color:white;
}

.h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003262; 
}


.body {
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003262; 
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
    text-align: center;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#FDB515;
    width: 100%;
}

.logo  {
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p{
  color:#003262;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}



