.topnav {
  background-color: #DDD5C7;
  overflow: hidden;
}

.topnav a {
  float: left;
  color:#003262;
  text-align: center;
  padding: 18px 20px;
  padding-right: 99px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.topnav a.active {
  background-color:#003262;
  color: white;
}

.topnav a:hover {
  background-color:#3B7EA1;
  color:white;
  text-decoration: underline;
}

.h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003262; 
}


.body {
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003262; 
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-top: 50px;
  padding-bottom: 35px;
}

.footer {
    text-align: center;
    background-color:#FDB515;
    width: 100%;
    height: 73px;
    position: fixed;
    left: 0;
   bottom: 0;
}

.logo  {
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p{
  color:#003262;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}


.row{
  background: white;
}

.col {
  background:lightyellow;
}

.column-box {
  width:100%;
  height:100px;
  background: green;
}

.container {
  max-width: 1200px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #003262;
  text-align: center;
}

.light-font { 
  font-weight: 300;
}

.italic-font {
  font-style:italic;
}

.bold-font {
  font-weight: 700;
}

.header{
  font-family: 'Open Sans', sans-serif;
  font-size: 200px;
  color: #003262; 
  font-weight: bold;
}

.photo-collage{
  width:700px;
  height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



.caption{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color:#46535E; 
  font-style: italic;
  font-weight: 300;
  padding-left: 35px;
  padding-right: 35px;
  text-align: center;
}



  .facebook{
    padding:0px;
    width: 40px;
    text-decoration: none;
    background-image: url(https://www.facebook.com/UCBerkeleyExtension/);
  }

  .facebook:hover{
    opacity: 0.7;
  }

  .instagram{
    padding:0px;
    width: 40px;
    text-decoration: none;
  }

  .instagram:hover{
    opacity: 0.7;
  }

  .twitter{
    padding:0px;
    width: 40px;
    text-decoration: none;
  }

  .twitter:hover{
    opacity: 0.7;
  }

  .youtube{
    padding:0px;
    width: 40px;
    text-decoration: none;
  }

  .youtube:hover{
    opacity: 0.7;
  }

  .linkedin{
    padding:0px;
    width: 40px;
    text-decoration: none;
  }

  .linkedin:hover{
    opacity: 0.7;
  }

  .extension-logo{
    width: 250px;
    height: auto; 
    padding-top: 20px;
    padding-right: 30px;
    }

    .extension-logo:hover{
      opacity: 0.7;
    }
