.topnav {
  background-color: #DDD5C7;
  overflow: hidden;
}

.topnav a {
  float: left;
  color:#003262;
  text-align: justify;
  padding: 18px 20px;
  padding-right: 99px;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.topnav a.active {
  background-color:#003262;
  color: white;
}

.topnav a:hover {
  background-color:#3B7EA1;
  color:white;
}

.h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003262; 
}


.body {
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  color: #003262; 
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  padding-top: 60px;
  padding-bottom: 35px;
}

.footer {
    text-align: center;
    background-color:#FDB515;
    width: 100%;
    position: fixed;
    left: 0;
   bottom: 0;
}

.logo  {
  width: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.p{
  color:#003262;
  text-align: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
}


.row{
  background: white;
}

.col {
  background:lightyellow;
}

.column-box {
  width:100%;
  height:100px;
  background: green;
}

.container {
  max-width: 1200px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #003262;
  text-align: center;
}

.light-font { 
  font-weight: 300;
}

.italic-font {
  font-style:italic;
}

.bold-font {
  font-weight: 700;
}

.header{
  font-family: 'Open Sans', sans-serif;
  font-size: 200px;
  color: #003262; 
  font-weight: bold;
}

.photo-collage{
  width:700px;
  height:500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}